<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">

    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
</head>
<body style="height: 100%; margin: 0; background: black">
<div id="container" style="float:left; height: 100%; width: 18.75%;"></div>
<div id="mmcontainer" style="float: left; padding-left:3.125%; padding-top:4%;color:white; width: 50.25%;"></div>
<iframe style="background: black; padding-left:3.125%;" frameborder="0" src="/static/testCalendar.html" width="24.75%" height="80%" scrolling="no"></iframe>


<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script src="static/js/dark.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    option = null;
    var data = [];
    var app = {};
    option = {
        backgroundColor: 'rgba(128, 128, 128, 0)',
        tooltip : {
            formatter: "{a} <br/>{b} : {c}%"
        },
        series: [
            {
                name: '温度值',
                type: 'gauge',
                center: ['50%', '25%'],
                radius: '80%',
                detail: {
                    formatter:'{value}℃',
                    textStyle:{
                        color: '#ffffff'
                    }
                },
                title:{

                    textStyle:{
                        color: '#ffffff'
                    }
                },

                data: [{value: 50, name: '室内温度'}]
            },
            {
                name: '空气湿度',
                type: 'gauge',
                radius: '80%',
                center: ['50%', '75%'],
                detail: {
                    formatter:'{value}%',
                    textStyle:{
                        color: '#ffffff'
                    }
                },
                title:{

                    textStyle:{
                        color: '#ffffff'
                    }

                },
                data: [{value: 50, name: '相对湿度'}]
            }
        ]
    };

    app.timeTicket = setInterval(function() {
        $.ajax({
            url:'http://10.25.0.212/api/getTempHum',
            type:'GET',
            success:function (result)
            {
                var obj = eval ("(" + result + ")");
                if (obj.res == 'OK')
                {
                    option.series[0].data[0].value = obj.Temperature;
                    option.series[1].data[0].value = obj.Humidity;
                    myChart.setOption(option, true);
                }
            },
            error: function (msg) {
                alert(msg.toSource());
            }
        });
        $.ajax({
            url:'http://10.25.0.212/api/getDisplay',
            type:'GET',
            success:function (result)
            {
                var obj = eval ("(" + result + ")");
                if (obj.change)
                {
                    $('#mmcontainer').html(obj.html);
                    $('#mmcontainer').fadeIn(2000);

                }
            },
            error: function (msg) {
                alert(msg.toSource());
            }
        });
    },2000);
</script>
</body>
</html>

